<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="javascripts/angularApp.js"></script>
      <script src="javascripts/controllers/HomeCtrl.js"></script>
    <title></title>
  </head>
  <body ng-app="appApp">
  <div>
  <h1>ERROR</h1>
</body>
</html>
